@import url(./colors.css);
@import url(./fonts.css);

* {
  margin: 0;
}
body {
  margin: 0;
  font-size: 18px;
  font-family: "Barlow";
}

/* NAV */
nav {
  display: none;
}

/* HEADER */
header {
  background-image: url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 2rem;
  font-family: "Fraunces-900";
  font-weight: 900;
  min-height: 500px;
}

@media (min-width: 480px) {
  header {
    background-image: url(../images/desktop/image-header.jpg);
  }
}

header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

header .bottom-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 6rem;
}

header .bottom-header h1 {
  color: var(--white);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
header .bottom-header img {
  max-width: 2rem;
}
/* FEATURES */
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 1.8rem;
  gap: 1.5rem;
}

.feature__img {
  background-size: cover;
  min-height: 300px;
  background-position: center;
  min-height: 500px;
}

.feature-1.feature__img {
  background-image: url(../images/mobile/image-transform.jpg);
}
.feature-1 .feature__more-info {
  text-decoration-color: var(--yellow-500);
}
.feature-2.feature__img {
  background-image: url(../images/mobile/image-stand-out.jpg);
}
.feature-2 .feature__more-info {
  text-decoration-color: var(--red-400);
}

.feature__tittle {
  font-family: "Fraunces-900";
  color: var(--grey-950);
  font-size: 1.5rem;
}

.feature__text {
  color: var(--grey-550);
}

.feature__more-info {
  font-family: "Fraunces-900";
  color: var(--grey-950);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
}

.feature-3 {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-size: cover;
  padding-top: 25rem;
  color: var(--green-800);
}
.feature-3 .feature__tittle,
.feature-3 .feature__text {
  color: var(--green-800);
}

.feature-4 {
  background-image: url(../images/mobile/image-photography.jpg);
  background-size: cover;
  padding-top: 25rem;
}
.feature-4 .feature__tittle,
.feature-4 .feature__text {
  color: var(--blue-800);
}

@media (min-width: 500px) {
  .feature-3,
  .feature-4 {
    padding-top: 35rem;
  }
}

@media (min-width: 675px) {
  .features {
    display: grid;
    grid-template-areas:
      " text-1 img-1"
      "img-2 text-2"
      "graphic-design photography";
  }

  .feature.feature-1 {
    grid-area: text-1;
    text-align: left;
    align-items: start;
    padding: 5rem;
  }
  .feature-1.feature__img {
    grid-area: img-1;
  }
  .feature.feature-2 {
    grid-area: text-2;
    text-align: left;
    align-items: start;
    padding: 5rem;
  }
  .feature-2.feature__img {
    grid-area: img-2;
  }

  .feature-3 {
    grid-area: graphic-design;
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-position: center;
    padding-top: 25rem;
  }
  .feature-4 {
    grid-area: photography;
    background-image: url(../images/desktop/image-photography.jpg);
    background-position: center;
    padding-top: 25rem;
  }
}

/* HIGHLIGHTS */

.highlights {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.highlights-tittle {
  text-transform: uppercase;
  font-family: "Fraunces-900";
  font-size: 1rem;
  letter-spacing: 0.3rem;
  color: var(--grey-400);
}

.highlights-item__img-profile {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.highlight-item__quote {
  color: var(--grey-550);
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.highlight-item__user {
  font-family: "Fraunces-900";
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
}
.highlight-item__job {
  font-size: 1rem;
  color: var(--grey-400);
}

@media (min-width: 675px) {
  .highlights {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    grid-template-areas:
      "highlight-tittle highlight-tittle highlight-tittle"
      "highlight-1 highlight-2 highlight-3";
      padding: 8rem 5rem;
  }

  .highlights-tittle {
    grid-area: highlight-tittle;
  }

  .highlight-item:nth-child(2) {
    grid-area: highlight-1;
  }

  .highlight-item:nth-child(3) {
    grid-area: highlight-2;
  }

  .highlight-item:nth-child(4) {
    grid-area: highlight-3;
  }
}

/* FINAL IMAGES */

.final-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.final-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 675px) {
  .final-images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
  }
}

/* FOOTER */
footer {
  background-color: var(--green-500-lighter);
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
}

.about-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.about-links a {
  text-decoration: none;
  color: #2c7566;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.footer__logo {
}
